*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: sans-serif;
}

ul.sidebar {
    width: 300px;
    background: red;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: .2rem;
    transition: all .3s ease;
}
ul.sidebar li{
    display: flex;
    justify-content: space-between;
    width: 35%;
    font-size: 20px;
    padding: 10px;
}
ul.sidebar li i{
    font-size: 20px;
    font-weight: 900;
    cursor: pointer;

}

ul li.header {
    padding: 30px 10px ;
}
ul.sidebarClosed {
    width: 35px;
    border: 1px solid blue;
    overflow: hidden;
}